.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:5.384000px;}
._5{width:20.808000px;}
._10{width:22.032000px;}
._11{width:24.056000px;}
._4{width:25.368000px;}
._6{width:28.176000px;}
._f{width:34.712000px;}
._d{width:37.400000px;}
._3{width:38.664000px;}
._9{width:46.136000px;}
._e{width:52.024000px;}
._c{width:58.760000px;}
._2{width:64.088000px;}
._1{width:66.728000px;}
._7{width:77.440000px;}
._a{width:81.400000px;}
._8{width:87.480000px;}
._b{width:124.072000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y1b{bottom:87.110000px;}
.y17{bottom:115.450000px;}
.y16{bottom:143.800000px;}
.y15{bottom:172.140000px;}
.y14{bottom:200.490000px;}
.y13{bottom:228.840000px;}
.y0{bottom:246.500000px;}
.y12{bottom:257.180000px;}
.y1a{bottom:285.530000px;}
.y18{bottom:303.000000px;}
.y11{bottom:313.880000px;}
.y10{bottom:342.220000px;}
.yf{bottom:370.570000px;}
.ye{bottom:398.920000px;}
.yd{bottom:427.260000px;}
.yc{bottom:455.610000px;}
.yb{bottom:483.960000px;}
.y19{bottom:512.300000px;}
.ya{bottom:540.650000px;}
.y9{bottom:569.000000px;}
.y8{bottom:597.340000px;}
.y7{bottom:625.690000px;}
.y6{bottom:654.030000px;}
.y5{bottom:682.380000px;}
.y4{bottom:710.730000px;}
.y3{bottom:739.070000px;}
.y2{bottom:767.420000px;}
.y1{bottom:795.770000px;}
.h2{height:50.671875px;}
.h3{height:511.000000px;}
.h1{height:567.500000px;}
.h0{height:841.890000px;}
.w1{width:539.000000px;}
.w0{width:595.280000px;}
.x0{left:28.000000px;}
.x3{left:31.190000px;}
.x1{left:59.530000px;}
.x5{left:172.920000px;}
.x4{left:201.260000px;}
.x2{left:371.340000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:7.178667pt;}
._5{width:27.744000pt;}
._10{width:29.376000pt;}
._11{width:32.074667pt;}
._4{width:33.824000pt;}
._6{width:37.568000pt;}
._f{width:46.282667pt;}
._d{width:49.866667pt;}
._3{width:51.552000pt;}
._9{width:61.514667pt;}
._e{width:69.365333pt;}
._c{width:78.346667pt;}
._2{width:85.450667pt;}
._1{width:88.970667pt;}
._7{width:103.253333pt;}
._a{width:108.533333pt;}
._8{width:116.640000pt;}
._b{width:165.429333pt;}
.fs0{font-size:64.000000pt;}
.y1b{bottom:116.146667pt;}
.y17{bottom:153.933333pt;}
.y16{bottom:191.733333pt;}
.y15{bottom:229.520000pt;}
.y14{bottom:267.320000pt;}
.y13{bottom:305.120000pt;}
.y0{bottom:328.666667pt;}
.y12{bottom:342.906667pt;}
.y1a{bottom:380.706667pt;}
.y18{bottom:404.000000pt;}
.y11{bottom:418.506667pt;}
.y10{bottom:456.293333pt;}
.yf{bottom:494.093333pt;}
.ye{bottom:531.893333pt;}
.yd{bottom:569.680000pt;}
.yc{bottom:607.480000pt;}
.yb{bottom:645.280000pt;}
.y19{bottom:683.066667pt;}
.ya{bottom:720.866667pt;}
.y9{bottom:758.666667pt;}
.y8{bottom:796.453333pt;}
.y7{bottom:834.253333pt;}
.y6{bottom:872.040000pt;}
.y5{bottom:909.840000pt;}
.y4{bottom:947.640000pt;}
.y3{bottom:985.426667pt;}
.y2{bottom:1023.226667pt;}
.y1{bottom:1061.026667pt;}
.h2{height:67.562500pt;}
.h3{height:681.333333pt;}
.h1{height:756.666667pt;}
.h0{height:1122.520000pt;}
.w1{width:718.666667pt;}
.w0{width:793.706667pt;}
.x0{left:37.333333pt;}
.x3{left:41.586667pt;}
.x1{left:79.373333pt;}
.x5{left:230.560000pt;}
.x4{left:268.346667pt;}
.x2{left:495.120000pt;}
}
