.typeo
{
    color: #b72005;
    font-family: 'Oswald', sans-serif;
}

.typet
{
    color: #d38d0b;
    font-family: 'Oswald', sans-serif;
}

.signup
{
    position: relative;
    top: 120px;
    left: 450px;
    background-color: #a1a1a1;
}

body
{
    background-color: #4d4c4c;
}

.logo
{
    background-color: #c2c1c1;
}

.logotext1
{
    position: relative;
    left: 265px;
    bottom:45px;
}

.part
{
    position: relative;
    left:150px;
    top:10px;
    padding: 4px;
    font-family: 'Caveat', cursive;
    font-family: 'Oswald', sans-serif;
    color: #0558b0;
}

.field
{
    background-color: #c2c1c1;
    border-radius: 4px;
    border-style: none;
}

.but
{
    position: relative;
    left: 270px;
    top: 30px;
}

.buttonsignup
{
    border-radius: 5px;
    border-style: none;
}

.link
{
    position: relative;
    left:220px;
    top:10px;
    font-family: 'Caveat', cursive;
    font-family: 'Oswald', sans-serif;
    color: #72008c;
}

.logoimage1
{
    position: relative;
    left: 200px;
}

.logo
{
   background-color: #c2c1c1;
    height: 60px;
    width:100%;
}

.logotext
{
    position: relative;
    right: 1020px;
    top:3px;
}

.nav
{
    background-color: aliceblue;
    height:70px;
}

.logoimage
{
    position: relative;
    right:550px;
}

.logout
{
    float: right;
    position: relative;
    left:1200px;
}